<template>
  <div class="OfferListElement">
    <h1 class="OfferListElement__header">Lokalizacja:</h1>
    <h6 class="OfferListElement__header--element">
      <strong>
        Kraj:
      </strong>
      {{ country }}
    </h6>
    <h6 class="OfferListElement__header--element">
      <strong>
        Miasto:
      </strong>
      <span class="upperCase">{{ city }}</span>
    </h6>
    <h6 class="OfferListElement__header--element">
      <strong>
        Powiat/Dzielnica:
      </strong>
      <span class="upperCase">{{ district }}</span>
    </h6>
    <h1 class="OfferListElement__header">Detale oferty:</h1>
    <h6 class="OfferListElement__header--element">
      <strong>
        Ilość pokoi:
      </strong>
      {{ numberOfRooms }}
    </h6>
    <h6 class="OfferListElement__header--element">
      <strong>
        Powierzchania:
      </strong>
      {{ totalArea }} <span class="append">&#13217;</span>
    </h6>
    <h6 class="OfferListElement__header--element">
      <strong>
        Cena:
      </strong>
      {{ price }} <span class="append">{{ currency }}</span>
    </h6>
  </div>
</template>

<script>
export default {
  name: 'OfferListElement',
  props: {
    location: {
      type: Object,
      default: (() => {
      }),
    },
    offer: {
      type: Object,
      default: (() => {
      }),
    },
  },
  computed: {
    country() {
      return this.location?.name || 'brak danych';
    },
    city() {
      return this.offer?.locationShort[0] || 'brak danych';
    },
    district() {
      return this.offer?.locationShort[1] || 'brak danych';
    },
    price() {
      return this.offer?.price.amount || 'brak danych';
    },
    currency() {
      return this.offer?.price.currency === 'PLN' ? 'zł' : this.offer?.price.currency || 'brak danych';
    },
    numberOfRooms() {
      return this.offer?.numberOfRooms || 'brak danych';
    },
    totalArea() {
      return Math.ceil(Number(this.offer?.totalArea)) || 'brak danych';
    },
  },
};
</script>

<style scoped lang="scss">
.OfferListElement {
  width: 250px;
  border: 1px solid red;
  border-radius: 12px;
  margin: 8px;
  padding: 15px;

  &__header {
    color: #0676c8;
    font-size: 22px;

    &--element {
      font-size: 14px;

      .upperCase {
        text-transform: capitalize;
      }

      .append {
        text-transform: lowercase;
        color: dimgray;
      }
    }
  }
}

</style>
