<template>
  <div class="OfferList">
    <div class="OfferList__filters">
      <OfferFilters :offersList.sync="offersList"
                    @filterProperties="updateFilterProperties"
      />
    </div>
    <div class="OfferList__elements">
      <OfferListElement :location="location"
                        v-for="offer in filteredList.nodes"
                        :key="offer.index"
                        :offer="offer"
      />
      <button @click="getNextPage"
              v-if="isNextPageAvailable"
      >Więcej
      </button>
      <button @click="getPreviousPage"
              v-if="previousPage"
      >Mniej
      </button>
    </div>
  </div>
</template>

<script>
import { SEARCH_PROPERTIES_FILTERS } from '../../apollo/queries';
import OfferListElement from './OfferListElement/OfferListElement';
import OfferFilters from './OfferFilters/OfferFilters';

export default {
  name: 'OfferList',
  components: {
    OfferListElement,
    OfferFilters,
  },
  data() {
    return {
      searchProperties: {},
      filteredList: [],
      currentPage: 1,
      previousPage: false,
      displayCounter: 32,
      totalCount: undefined,
      filterProperties: {
        price: {
          min: '',
          max: '',
        },
        rooms: {
          min: undefined,
          max: undefined,
        },
      },
    };
  },
  computed: {
    isNextPageAvailable() {
      return this.totalCount > 32;
    },
    location() {
      return this.searchProperties.location;
    },
    offersList: {
      get() {
        return this.searchProperties;
      },
      set(newVal) {
        this.filteredList = newVal;
      },
    },
  },
  watch: {
    offersList: {
      handler: 'getFilteredList',
      immediate: true,
    },
    currentPage(newVal) {
      this.previousPage = newVal > 1;
    },
  },
  apollo: {
    searchProperties: {
      query: SEARCH_PROPERTIES_FILTERS,
      variables() {
        return {
          pageNumber: 1,
          priceFrom: this.filterProperties.price.min,
          priceTo: this.filterProperties.price.max,
          numberOfRoomsFrom: Number(this.filterProperties.rooms.min),
          numberOfRoomsTo: Number(this.filterProperties.rooms.max),
          numberOfResult: this.displayCounter,
        };
      },
    },
  },
  methods: {
    updateFilterProperties(newVal) {
      this.filterProperties = newVal;
    },
    getNextPage() {
      this.currentPage++;
      if (this.totalCount < this.displayCounter) {
        return;
      }
      this.displayCounter += 32;
      this.$apollo.queries.searchProperties.fetchMore({
        variables() {
          return {
            pageNumber: this.currentPage,
            priceFrom: this.filterProperties.price.min,
            priceTo: this.filterProperties.price.max,
            numberOfRoomsFrom: Number(this.filterProperties.rooms.min),
            numberOfRoomsTo: Number(this.filterProperties.rooms.max),
            numberOfResult: this.displayCounter,
          };
        },
        fetchPolicy: 'network-only',
        updateQuery: (previousResult, { fetchMoreResult }) => {
          const newNodes = fetchMoreResult.searchProperties.nodes;

          this.filteredList = {
            __typename: 'PropertySearchResult',
            nodes: [...previousResult.searchProperties.nodes, ...newNodes],
          };
        },
      });
    },
    getPreviousPage() {
      if (this.displayCounter === 32) {
        return;
      }
      this.displayCounter -= 32;
    },
    getFilteredList(newVal) {
      this.totalCount = newVal?.totalCount;
      this.filteredList = newVal;
    },
  },
};
</script>

<style scoped lang="scss">
.OfferList {
  display: flex;
  flex-direction: column;

  &__elements {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
  }
}

</style>
