<template>
  <div class="container">
    <OfferList/>
  </div>
</template>

<script>
import OfferList from '../components/OfferList/OfferList';

export default {
  components: {
    OfferList,
  },
};

</script>

<style lang="scss">
.container {
  display: flex;
}
</style>
