<template>
  <div class="OfferFilters">
    <div class="OfferFilters__filters">
      <label>Cena pokoju:
        <input class="filter__input"
               placeholder="Od"
               v-model="filterProperties.price.min"
               @keypress="onlyNumber"
        />
        <input class="filter__input"
               placeholder="Do"
               v-model="filterProperties.price.max"
               @keypress="onlyNumber"
        />
      </label>
    </div>
    <div class="filter">
      <label>Ilość pokoi:
        <input class="filter__input"
               placeholder="Od"
               v-model="filterProperties.rooms.min"
               @keypress="onlyNumber"
        />
        <input class="filter__input"
               placeholder="Do"
               v-model="filterProperties.rooms.max"
               @keypress="onlyNumber"
        />
      </label>
    </div>
    <button @click="filterList"
            class="OfferList__button"
    >
      Szukaj
    </button>
    <button @click="clearSearchProperties"
            class="OfferList__button"
    >
      Wyczyść
    </button>
  </div>
</template>

<script>
import { SEARCH_PROPERTIES_FILTERS } from '../../../apollo/queries';

export default {
  name: 'OfferFilters',
  props: {
    offersList: {
      type: Object,
      default: (() => {
      }),
    },
  },
  data() {
    return {
      filterProperties: {
        price: {
          min: '',
          max: '',
        },
        rooms: {
          min: undefined,
          max: undefined,
        },
      },
    };
  },
  methods: {
    filterList() {
      this.$apollo
        .query({
          query: SEARCH_PROPERTIES_FILTERS,
          variables: {
            pageNumber: 1,
            priceFrom: this.filterProperties.price.min,
            priceTo: this.filterProperties.price.max,
            numberOfRoomsFrom: Number(this.filterProperties.rooms.min),
            numberOfRoomsTo: Number(this.filterProperties.rooms.max),
            numberOfResult: 32,
          },
        }).then((data) => {
          this.$emit('update:offersList', data.data?.searchProperties);
          this.$emit('filterProperties', this.filterProperties);
        });
    },

    clearSearchProperties() {
      this.filterProperties = {
        price: {
          min: '',
          max: '',
        },
        rooms: {
          min: undefined,
          max: undefined,
        },
      };
      this.filterList();
    },
    onlyNumber($event) {
      let keyCode = ($event.keyCode ? $event.keyCode : $event.which);
      if ((keyCode < 48 || keyCode > 57)) {
        $event.preventDefault();
      }
    },
  },
};
</script>

<style scoped lang="scss">
.OfferFilters {
  margin: 0 auto;

  &__filters {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 800px;

    .filter {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      width: 350px;
    }
  }
}
</style>
